.topbar{
    width: 100%;
    height: 50px;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 999;
}

.topbarWrapper{
    height: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-weight: bold;
    font-size: 30px;
    color: darkblue;
}
.topRight{
    display: flex;
    align-items: center;
}

.topbarIcon{
    position: relative;
    cursor: pointer;
    margin-right: 10px;
    color: #555;
    font-size: 25px;
}

.topbarIconBadge{
    width: 15px;
    height: 15px;
    position: absolute;
    top: -5px;
    right: 0;
    background-color: red;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    border-radius: 50%;
}

.avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}